<h1>Home#main</h1>


<div class="row-fluid">
	<div class="span4">
		<div class="well">
		<p>Chief complaint(s)</p>
		</div>
		
		<div class="well">
			<p>Differential</p>
		</div>
		
		<div class="well">
			<p>Complications</p>
		</div>
		
	</div>
	
	<div class="span4 ">
	
		<div class="well">
			<p>Question shorthand: Response</p>
			<ul>
				<li>A</li>
				<li>B</li>
				<li>C</li>
			</ul>
			<p>Yes</p>
		</div>
	</div>

	<div class="span4 ">
	
		<div class="well">
			<p>Do you have any of the following?</p>
			<ul>
				<li>A</li>
				<li>B</li>
				<li>C</li>
			</ul>
			<p>Yes</p>
		</div>
	</div>

</div>