<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :prompt %><br />
    <%= f.text_area :prompt, :rows=>4 %>
  </div>
  <div class="field">
    <%= f.label :yes_text %><br />
    <%= f.text_field :yes_text %>
  </div>
  <div class="field">
    <%= f.label :no_text %><br />
    <%= f.text_field :no_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
