<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Prompt</th>
    <th>Yes text</th>
    <th>No text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
    <td><%= tag.prompt %></td>
    <td><%= tag.yes_text %></td>
    <td><%= tag.no_text %></td>
    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
