<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
</p>

<p>
  <b>Prompt:</b>
  <%= @tag.prompt %>
</p>

<p>
  <b>Yes text:</b>
  <%= @tag.yes_text %>
</p>

<p>
  <b>No text:</b>
  <%= @tag.no_text %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
