<%#

requires
	h
	field_name
	assoc_name
	
%>

<%= h.fields_for assoc_name do |c| %>
	<% if (concept=c.object).id.nil? %>
		<div>
		<%= c.text_field field_name, "data-provide"=>"typeahead", "data-source"=>Concept.typeahead_array, class: "input-block-level", onkeydown: "var o=$(this);if(o.val()!=='' && !o.hasClass('keydown')) {o.addClass('keydown'); $('#add-#{assoc_name}').click()}" %>
		</div>
	<% else %>
		<div class="clearfix" style="min-height:24px">
			<%= c.link_to_remove(raw( "&times;"), :class=>"close") %>
			<a href="<%= url_for(concept) %>"><%= raw concept.display_name %></a>
			<small class="muted"><%= concept.specific_signs([@concept,concept]) %></small>
		</div>
		
	<% end %>
<% end %>
<div><%= h.link_to_add "", assoc_name, id: "add-#{assoc_name}" %> </div>
