<%#

requires
	h
	assoc_name
	
%>
<h6 class="muted"><%= link_to( (concept.name || "").upcase + " #{heading}", concept ) if concept.send( assoc_name).size > 0 %></h6>
<% concept.send( assoc_name).each do |c| %>
	<div class="clearfix" style="min-height:24px">
		<a href="<%= url_for(c) %>"><%= raw c.display_name %></a>
		<small class="muted"><%= c.specific_signs([@concept,concept]) %></small>
	</div>		
<% end %>