<%= h.text_field :name, :placeholder=>"Name", :class=>"input-block-level" %>

<div class="field">
<label class="checkbox" for="concept_observable">
	<%= h.check_box :observable %>Observable <small>(Patient complained of <%= (h.object.name || "CONCEPT").upcase %>)</small></label>
<label class="checkbox" for="concept_testable">
	<%= h.check_box :testable %>Testable <small>(Dr. ordered/observed/examined <%= (h.object.name || "CONCEPT").upcase %>)</small></label>
<label class="checkbox" for="concept_culpable">
	<%= h.check_box :culpable %>Culpable <small>(<%= (h.object.name || "CONCEPT").upcase %> caused symptoms)</small></label>
<label class="checkbox" for="concept_actionable">
	<%= h.check_box :actionable %>Actionable <small>(Treated/prevented with <%= (h.object.name || "CONCEPT").upcase %>)</small></label>
</div>
<div class="field">
	<label>Recommendation</label>
	<%= h.select :triage_rule, options_for_select(Concept.triage_rules, h.object.triage_rule) %>
</div>

<h5>Children</h5>
<%= h.fields_for :children do |subconcept| %>
		<% if (sc=subconcept.object).new_record? %>
			<div>
			<%= subconcept.text_field :name, "data-provide"=>"typeahead", "data-source"=>Concept.typeahead_array, class: "input-block-level" %>
			</div>
		<% else %>
			<div class="clearfix" style="min-height:24px">
				<%= subconcept.link_to_remove(raw( "&times;"), :class=>"close") %>
				<a href="<%= url_for(sc) %>"><%= raw sc.display_name %></a>
			</div>
		<% end %>
<% end %>
<p><%= h.link_to_add "Add", :children %></p>

