<%= nested_form_for @concept do |h| %>
	<%= h.fields_for :caused_by_links do |c| %>
		<div>
			<%= c.link_to_remove(raw( "&times;"), :class=>"close") %>
			
			<% if (d=c.object).leads_from_name.blank? %>
				<%= c.text_field :leads_from_name, "data-provide"=>"typeahead", "data-source"=>"[\"#{Concept.select("name").collect{|e|e.name}.join('","')}\"]", :class=>"input-xlarge" %>
			<% else %>
				<p><%= link_to d.leads_from_name, d.leads_from %></p>
				<%= c.hidden_field :leads_from_name %>
			<% end %>
		</div>
	<% end %>
	
	<p><%= h.link_to_add "Add another", :caused_by_links %></p>
	
	<%= h.submit %>
<% end %>