<ul class="nav nav-list">
  	<li class="nav-header"><%= heading if defined? heading %></li>
	<% (defined?(concepts) ? concepts : []).each do |concept| %>
  		<li style="line-height: 16px;"><a href="<%= edit_concept_path(concept) %>"><%= raw concept.display_name %><% if concept.partial? %><i class="icon-bookmark muted"></i><% end %></a></li>
  	<% end %>
</ul>
