<table>
	<% if concept.n_children == 0 %>
		<tr><td class="tree<%= " tree-active" if @concept==concept %>"><%= link_to concept.name, concept %> (no children)</td></tr>
	<% else %>
		<% (children = concept.children.select{|e|!e.new_record?}).each do |e| %>
		<tr>
			<% if e==children[0] %>
				<td rowspan="<%= children.size %>" class="tree<%= " tree-active" if @concept==concept %>"><%= link_to concept.name, concept %></td>
			<% end %>	
			<% if e.n_children == 0 %>
				<td class="tree<%= " tree-active" if @concept==e %>"><%= link_to e.name, e %></td>
			<% else %>
				<td><%= render "hierarchy_table", concept: e %> </td>
			<% end %>
		</tr>
		<% end %>

	<% end %>
</table>