<%= nested_form_for @concept do |h| %>
	<%= h.fields_for :leads_to_links do |c| %>
		<div>
			<%= c.link_to_remove(raw( "&times;"), :class=>"close") %>
			
			<% if (d=c.object).leads_to_name.blank? %>
				<%= c.text_field :leads_to_name, "data-provide"=>"typeahead", "data-source"=>"[\"#{Concept.select("name").collect{|e|e.name}.join('","')}\"]", :class=>"input-xlarge" %>
			<% else %>
				<p><%= link_to d.leads_to_name, d.leads_to %></p>
				<%= c.hidden_field :leads_to_name %>
				
			<% end %>
		</div>
	<% end %>
	<p><%= h.link_to_add "Add another", :leads_to_links %></p>
	
	<%= h.submit %>
<% end %>