<%= nested_form_for @concept do |c| %>
<table class="table table-condensed">
	<tr>
		<th>Differential</th>
		<% differential_tags.each do |tag| %>
			<% if !tag.new_record? %>
			<th><%= link_to tag.name, tag %></th>
			<% else %>
			<th><%= text_field_tag "nombre", "", :placeholder=>"New tag", onkeyup: "javascript:$('[tag_order=\"#{differential_tags.index(tag)}\"]').val($(this).val())", class: "input-medium", "data-provide"=>"typeahead", "data-source"=>"[#{Tag.select("name").collect{|e|"\"#{e.name}\""}.join(",")}]" %></th>
			<% end %>
		<% end %>
	</tr>

	<%= c.fields_for :caused_bys do |con| %>
		<%= render "tree_table_tr", :h=>con, :differential_tags=>differential_tags %>
	<% end %>
	<%= c.fields_for :leads_tos do |con| %>
		<% con.object.name += " (complication)" %>
		<%= render "tree_table_tr", :h=>con, :differential_tags=>differential_tags %>
	<% end %>
	<tr>
		<td>Entropy</td>
		<% differential_tags.each do |tag| %>
			<td><%= tag.discernability( @concept.caused_bys).round(2) %></td>
		<% end %>
	</tr>
	
</table>
<%= c.submit %>
<% end %>