<tr>
	<td> <%= link_to h.object.name, h.object %></td>
	<% differential_tags.each do |tag| %>
		<td>
			<% 
				tag_order = differential_tags.index(tag) 
			 	tagging = h.object.taggings.where(:tag_id=>tag.id).first # shall be nil if nonexistent
				rules_out_if = tagging.nil? ? nil : tagging.rules_out_if
			%>
			
			<% if h.object.tags.include? tag %>
			
				<%= hidden_field_tag "#{h.object_name}[taggings_attributes][#{tag_order}][id]", tagging.id %>				
			<% else %>
				<%# 
					this check box, if left unchecked, will cause 
					this entry to be ignored because tag_name will be blank
				%>
				
				<%= hidden_field_tag "#{h.object_name}[taggings_attributes][#{tag_order}][tag_name]", tag.name, tag_order: tag_order %> 
			<% end %>
			<% if !tag.new_record? %>
			<% if tagging %>
				<% if tagging.rules_out_if %>
					<a href="javascript:" onclick="var o=$(event.target).closest('a'); o.hide(50);o.next('.button-set').show(100); return 0;" class="btn"><i class="icon-minus"></i></a>
				<% else %>
					<a href="javascript:" onclick="var o=$(event.target).closest('a'); o.hide(50);o.next('.button-set').show(100); return 0;" class="btn btn-success"><i class="icon-plus"></i></a>
				<% end %>
			<% else %>
				<a hhref="javascript:" onclick="var o=$(event.target).closest('a'); o.hide(50);o.next('.button-set').show(100); return 0;"  class="btn"><i class="icon-remove"></i></a>
			<% end %>
			<% end %>
			<div class="button-set" style="<%= "display:none;" unless tag.new_record? %>">
			<label class="radio inline">
				<%= radio_button_tag "#{h.object_name}[taggings_attributes][#{tag_order}][rules_out_if]", false, rules_out_if == false %><i class="icon-plus"></i></label>
			<label class="radio inline">
				<%= radio_button_tag "#{h.object_name}[taggings_attributes][#{tag_order}][rules_out_if]", true, rules_out_if==true %><i class="icon-minus"></i></label>
			<label class="radio inline">
				<%= check_box_tag "#{h.object_name}[taggings_attributes][#{tag_order}][_destroy]", "1", false, :onclick=>"javascript:if($(this).prop('checked')){$(this).closest('.button-set').find('[type=\"radio\"]').prop('checked',false) }" %>
				<i class="icon-remove"></i>
			</label>
			</div>
		</td>
	<% end %>
</tr>
