<%= nested_form_for(@concept) do |f| %>

<div class="row-fluid">

	<div class="span9">
		<a class='edit-concept-link pull-right' href="javascript:$('.concept-header').toggle();$('.concept-body').toggle(); $('.edit-concept-link').toggle()"><i class="icon-edit"></i></a>
		
		
		<div class="concept-header field">
			<h1 onclick="$('.concept-header').toggle()"><%= raw @concept.display_name %></h1>
			<div>
			<span>Traits</span>
			<% f.object.traits.each do |t| %>
				<span class="label"><%= t %></span> 
			<% end %>
			</div>
				<%= render "hierarchy_table", concept: @concept.earliest_descendent  %>

		</div>
		<div class="concept-header well" style="display:none;">
			<%= render "basic_fields", :h=>f %>
			<%= f.submit "Save", :class=>"btn btn-primary" %>
			<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	                      @concept, method: :delete,
	                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
	                      class: 'btn btn-danger' %>
		</div>
	  <div class="concept-body" style="display:<%= "none" if @concept.is_blank? %>;" ondblclick="$('.concept-body').toggle()">
		<% if @concept.short_description.present? %>
			<div class="alert alert-info"><%= @concept.short_description %></div>
		<% end %>
		<hr />
		<%= raw @concept.long_description_pretty %>
	  </div>
	  <div class="concept-body" style="display:<%= "none" unless @concept.is_blank? %>;">
		<%= f.text_field :short_description, :placeholder=>"Short description", :class=>"input-block-level" %>
	    <%= f.text_area :long_description, :rows=>50, :placeholder=>"Long description", :class=>"input-block-level" %>
	
	  </div>
	  <div class="actions">
	    <%= f.submit "Save", :class=>"btn btn-primary" %>
	  </div>

	</div><%# end span8 %>
	
	<div class="span3">
		<div class="well" style="padding: 0px 14px;">
			<h6 class="muted"><%= @concept.actionable ? "USED TO TREAT" : "CAUSED BY" %></h6>
			<%= render "association_fields", h: f, assoc_name: :caused_bys, field_name: :name %>
			<% @concept.children_and_parent.each do |d| %>
				<%= render "association_display", concept: d, assoc_name: :caused_bys, heading: @concept.actionable ? "USED TO TREAT" : "CAUSED BY" %>
			<% end %>
		</div>
		
		<div class="well" style="padding: 0px 14px;">
			<h6 class="muted">FINDINGS</h6>
			<%= render "association_fields", h: f, assoc_name: :findings, field_name: :name %>
			<% @concept.children_and_parent.each do |d| %>
				<%= render "association_display", concept: d, assoc_name: :findings, heading: "FINDINGS" %>
			<% end %>
		</div>

		<div class="well" style="padding: 0px 14px;">
			<h6 class="muted">COMPLICATIONS</h6>
			<%= render "association_fields", h: f, assoc_name: :complications, field_name: :name %>
			<% @concept.children_and_parent.each do |d| %>
				<%= render "association_display", concept: d, assoc_name: :complications, heading: "SUBTYPE COMPLIC" %>
			<% end %>
		</div>


		<div class="well" style="padding: 0px 14px;">
			<h6 class="muted">TREATED WITH</h6>
			<%= render "association_fields", h: f, assoc_name: :treated_withs, field_name: :name %>
			<% @concept.children_and_parent.each do |d| %>
				<%= render "association_display", concept: d, assoc_name: :treated_withs, heading: "TREATED WITH" %>
			<% end %>
		</div>
		
		
		<div class="well" style="padding: 8px 0;">
			<%= render "concept_listing", :heading=>"Concepts", :concepts=>Concept.alphabetical_listing.contentful %>
		</div>
	</div><%# end span4 %>
	
	
</div>

<% end # form_for %>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <div class="well-skinny">Possible causes of <%= @concept.name %> include <%= @concept.caused_bys.collect {|e|  "#{e.name} #{e.specific_signs([@concept])}" }.join(", ") %>.
	</div>
	<% @concept.caused_bys.each do |concept| %>
    	<div class="well-skinny">
		    <button type="button" class="close"  aria-hidden="true">×</button>
		<p>
	- Check <%= ((concept.signs).select("name") -[ @concept]).collect{|e|e.name}.join(", ") %> to rule out <%= concept.name %>
	</p>
		<% concept.caused_bys.each do |subconcept| %>
		<p class="muted">
		- <%= ((subconcept.signs).select("name") -[ @concept]).collect{|e|e.name}.join(", ") %> to rule out <%= subconcept.name %></p>
		
		<% end %>
		</div>
	<% end %>
  </div>
</div>
