<%- model_class = Concept -%>
<div class="page-header">
  <h1>Concept listing</h1>
</div>

<div class="row-fluid">
	<div class="span3">
		<%= render "concept_listing", :heading=>"Conditions", :concepts=> params[:search].present? ? Concept.alphabetical_listing.culpables.search_title_and_body(params[:search]) : Concept.alphabetical_listing.culpables %>
	</div>
	
	<div class="span3">
		<%= render "concept_listing", :heading=>"Findings", :concepts=> params[:search].present? ? Concept.alphabetical_listing.findings.search_title_and_body(params[:search]) : Concept.alphabetical_listing.findings %>
	</div>
	
	<div class="span3">
		<%= render "concept_listing", :heading=>"Treatments", :concepts=> params[:search].present? ? Concept.alphabetical_listing.treatments.search_title_and_body(params[:search]) : Concept.alphabetical_listing.treatments %>
	</div>
	
	<div class="span3">
		<%= render "concept_listing", :heading=>"Orphan blank concepts", :concepts=> params[:search].present? ? Concept.alphabetical_listing.orphans.blanks.search_title_and_body(params[:search]) : Concept.alphabetical_listing.orphans.blanks %>
	</div>
	
</div>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_concept_path,
            :class => 'btn ' %>
