

<p id="notice"><%= notice %></p>
<div class="alert alert-success">
	<p class="lead">Go through the boxes by number and hit save at the bottom of each box.
	</p>
</div>

<div class="row-fluid">

	<div class="span5">
		<div class="alert alert-info">
			<div class="row-fluid">
				<div class="span2"><h1>1.</h1></div>
				<div class="span10">
					<p class="lead">Edit information. This term will be the chief complaint of your decision tree.</p>
				</div>				
			</div>
			<hr />
			<h3><%= @concept.name %></h3>
			<%= render "form" %>
	  		
		</div>
	</div>


	<div class="span7">
		<div class="row-fluid">
			<div class="span3">
				<svg width="640" height="100" xmlns="http://www.w3.org/2000/svg">
				 <g>
				  <path stroke="#000000" fill="#FF0000" stroke-width="5" d="m126.53783,40c0,0 -87.49876,-1 -87.49876,-2c0,-1 -2.18747,-17 -2.18747,-17c0,0 -17.49976,31 -18.59349,31c-1.09373,0 15.31229,18 15.31229,18c0,0 5.46867,-17 5.46867,-17c0,0 88.5925,1 88.5925,1c0,0 -1.09373,-14 -1.09373,-14z" id="svg_3"/>
				 </g>
				</svg>
			</div>
			<div class="span9">
				<div class="alert">
					
					<div class="row-fluid">
						<div class="span2"><h1>2.</h1></div>
						<div class="span10">
							<p class="lead">Enter things that cause <%= @concept.name%>. This corresponds to the terminal nodes of the decision tree.</p>
						</div>				
					</div>
					<hr />
					
					<h5>Caused by</h5>
					<%= render "caused_by_form" %>
				</div>
			</div>
		</div>
		
		
		<div class="row-fluid">
			<div class="span3">
				<svg width="640" height="100" xmlns="http://www.w3.org/2000/svg">
				 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
				 <g>
				  <path fill="#FF0000" stroke="#000000" stroke-width="5" d="m20.21053,41.05263c0,0 80,-1 80,-2c0,-1 2,-17 2,-17c0,0 16,31 17,31c1,0 -14,18 -14,18c0,0 -5,-17 -5,-17c0,0 -81,1 -81,1c0,0 1,-14 1,-14z" id="svg_3"/>
				 </g>
				</svg>
			</div>
			<div class="span9">
				<div class="alert">
					
					<div class="row-fluid">
						<div class="span2"><h1>3.</h1></div>
						<div class="span10">
							<p class="lead">Enter the complications that would lead you to send the patient somewhere. These also correspond to the terminal nodes of the decision tree.</p>
						</div>				
					</div>
					<hr />
					
					
					<h5>Leads to (Symptoms, Findings and Complications)</h5>
					<%= render "leads_to_form" %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="well">
	<div class="row-fluid">
		<div class="span2"><h1>4.</h1></div>
		<div class="span10">
			<p class="lead">Apply tags, or branch points, and determine which etiologies and complications fall on either side. You can define question prompts for each tag later. Leave a cell blank if the tag has no bearing on a particular concept. </p>
		</div>				
	</div>
	<%= render "tree_table", :differential_tags=>@differential_tags %>
</div>

<div class="row-fluid">
	<div class="span6">
		<div class="well">
			
			<div class="row-fluid">
				<div class="span2"><h1>5.</h1></div>
				<div class="span10">
					<p class="lead">Specify the order in which questions should be asked. Do it. Leave blank to omit question at this time.</p>
				</div>				
			</div>
			
			<h5>Order of questioning</h5>
			<%= nested_form_for @concept do |a| %>
				<%= a.fields_for :askables do |t| %>
					<div>
						<%= t.link_to_remove(raw( "&times;"), :class=>"close") %>
						<%= t.select :tag_id, options_for_select(Tag.options, t.object.tag_id) %> order
						<%= t.text_field :ask_order, :class=>"input-mini" %>
					</div>
				<% end %>
				<p><%= a.link_to_add "Add", :askables %></p>
				<%= a.submit %>
			<% end %>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span2"><h1>6.</h1></div>
	<div class="span10">
		<p class="lead">Explore the decision tree.</p>
	</div>				
</div>

<hr />

    <div id="body"></div>

<%= link_to 'Back', concepts_path %>

<script type="text/javascript">
var go = function() {
	var m = [20, 120, 20, 120],
	    w = 1280 - m[1] - m[3],
	    h = 800 - m[0] - m[2],
	    i = 0,
	    root;

	var tree = d3.layout.tree()
	    .size([h, w]);

	var diagonal = d3.svg.diagonal()
	    .projection(function(d) { return [d.y, d.x]; });

	var vis = d3.select("#body").append("svg:svg")
	    .attr("width", w + m[1] + m[3])
	    .attr("height", h + m[0] + m[2])
	  .append("svg:g")
	    .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

	d3.json("<%= url_for(@concept) %>.json", function(json) {
	  root = json;
	  root.x0 = h / 2;
	  root.y0 = 0;

	  function toggleAll(d) {
	    if (d.children) {
	      d.children.forEach(toggleAll);
	      toggle(d);
	    }
	  }

	  // // Initialize the display to show a few nodes.
	  // root.children.forEach(toggleAll);
	  // toggle(root.children[1]);
	  // toggle(root.children[1].children[2]);
	  // toggle(root.children[9]);
	  // toggle(root.children[9].children[0]);

	  update(root);
	});
	
	function update(source) {
	  var duration = d3.event && d3.event.altKey ? 5000 : 500;

	  // Compute the new tree layout.
	  var nodes = tree.nodes(root).reverse();

	  // Normalize for fixed-depth.
	  nodes.forEach(function(d) { d.y = d.depth * 180; });

	  // Update the nodes…
	  var node = vis.selectAll("g.node")
	      .data(nodes, function(d) { return d.id || (d.id = ++i); });

	  // Enter any new nodes at the parent's previous position.
	  var nodeEnter = node.enter().append("svg:g")
	      .attr("class", "node")
	      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	      .on("click", function(d) { toggle(d); update(d); });

	  nodeEnter.append("svg:circle")
	      .attr("r", 1e-6)
	      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

	  nodeEnter.append("svg:text")
	      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
	      .attr("dy", ".35em")
	      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	      .text(function(d) { return d.name; })
	      .style("fill-opacity", 1e-6);

		var textbox = nodeEnter.append("svg:foreignObject")
	      	.attr("x", function(d) { return (d.children || d._children ? -10 : 10) - 75; })
			.attr("y", "1.35em")
		    .attr("width", 150)
		    .attr("height", 1000)
		    .append("div").style("border", function(d) {return d.differential===undefined? "" : "black 1px solid"})
		
		
		textbox.append("ul").style("color", "blue")
				.selectAll("li")
		    	.data(function(d) { return d.differential || []; }).enter()
				.append("li").text(function(d) {return d}).style("font-size","9px").style("line-height", "1.1em")
		
		textbox.append("div").style("color", "red").style("font-size","9px").style("line-height", "1.1em")
		    .text(function(d) { return d.triage; });
		


	  // Transition nodes to their new position.
	  var nodeUpdate = node.transition()
	      .duration(duration)
	      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

	  nodeUpdate.select("circle")
	      .attr("r", 4.5)
	      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

	  nodeUpdate.selectAll("text")
	      .style("fill-opacity", 1);

	  // Transition exiting nodes to the parent's new position.
	  var nodeExit = node.exit().transition()
	      .duration(duration)
	      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	      .remove();

	  nodeExit.select("circle")
	      .attr("r", 1e-6);

	  nodeExit.selectAll("text")
	      .style("fill-opacity", 1e-6);

	  // Update the links…
	  var link = vis.selectAll("path.link")
	      .data(tree.links(nodes), function(d) { return d.target.id; });

	  // Enter any new links at the parent's previous position.
	  link.enter().insert("svg:path", "g")
	      .attr("class", "link")
	      .attr("d", function(d) {
	        var o = {x: source.x0, y: source.y0};
	        return diagonal({source: o, target: o});
	      })
	    .transition()
	      .duration(duration)
	      .attr("d", diagonal);

	  // Transition links to their new position.
	  link.transition()
	      .duration(duration)
	      .attr("d", diagonal);

	  // Transition exiting nodes to the parent's new position.
	  link.exit().transition()
	      .duration(duration)
	      .attr("d", function(d) {
	        var o = {x: source.x, y: source.y};
	        return diagonal({source: o, target: o});
	      })
	      .remove();

	  // Stash the old positions for transition.
	  nodes.forEach(function(d) {
	    d.x0 = d.x;
	    d.y0 = d.y;
	  });
	}

	// Toggle children.
	function toggle(d) {
	  if (d.children) {
	    d._children = d.children;
	    d.children = null;
	  } else {
	    d.children = d._children;
	    d._children = null;
	  }
	}
}




</script>
