// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.tree {
	-webkit-border-image: none;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(221, 221, 221);
	border-left-style: solid;
	border-left-width: 0px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(221, 221, 221);
	border-top-style: solid;
	border-top-width: 1px;
	color: rgb(0, 136, 204);
	cursor: auto;
	padding: 4px 8px;
	text-align: left;
	text-decoration: none;

}
.tree-active { background-color: rgb(245,245,245) }