.well-skinny {
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	background-color: rgb(245, 245, 245);
	border-bottom-color: rgb(227, 227, 227);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(227, 227, 227);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(227, 227, 227);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(227, 227, 227);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px inset;
	color: rgb(51, 51, 51);
	display: block;
	min-height: 20px; 
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 8px 12px;
}

h2 { font-size: 28px; text-transform:uppercase; font-weight: 300;  margin-top: 12px;}
h2:nth-child(n+2) {  border-top: 1px solid #ddd; }
h3 { font-size: 18px; text-transform:uppercase; font-weight: 300;}
h4 { font-size: 12px; text-transform:uppercase; font-weight: 300;}
body { background-color: #fff; color: #333; }


body, p, ol, ul, td {
  font-family: 'Helvetica neue', helvetica, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
