<%= h.text_field :tag_name %>

<label class="radio inline" for="concept_rule_out_if_false">
<%= h.radio_button :rules_out_if, false %><i class="icon-plus"></i>
</label>

<label class="radio inline" for="concept_rule_out_if_true">
<%= h.radio_button :rules_out_if, true %><i class="icon-minus"></i>
</label>
